:root {
    --card-info-width: 70%;
}

.card-header {
    text-align: center;
}

.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin: 16px;
  width: 28vw;
  height: 49vh;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.05);
}

.card-header {
  background-color: #f7f7f7;
  padding: 16px;
  text-align: center;
}

.card-header h2 {
  margin: 0;
  font-size: 1.5em;
}

.card-header p {
  margin: 0;
  color: #888;
}

.btn-container {
  padding: 16px;
  text-align: center;
}

.image-desc-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-img {
  width: var(--card-info-width);
  height: auto;
  border-radius: 4px;
}

.project-info {
  width: var(--card-info-width);
  text-align: justify;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;

}